/* Colors */
$grey: #333;
$lavender: rgb(175, 149, 211);
$white: rgb(255, 255, 255);
$translucent-white: rgba(255, 255, 255, 0.75);
$translucent-black: rgba(0, 0, 0, 0.5);

/* Borders */
$border-side: 5px ridge $lavender;