body {
  background: #FFF -webkit-linear-gradient(#ecf0f1, #9b59b6) no-repeat top right;
  background-attachment: fixed;
}

h1, p {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: auto;
  width: 50%;
}

h1 {
  font-size: 60px;
  color: #9b59b6;
  padding: 70px 0px;
}

p {
  font-size: 24px;
  color: #bdc3c7;
}
