/* Imports */
@import "helpers/variables";
@import "helpers/placeholder";
@import url('https://fonts.googleapis.com/css?family=Muli:200|Open+Sans:600');

body {
	background-color: #5F666C;
  background-attachment: fixed;
  overflow-x: hidden;
  @extend %noise;
}

.title {
  background-color: #3F4246;
  border-bottom: solid 5px #A380B3;
  position: fixed;
  box-shadow: 0 1px 0 rgba(109, 71, 125, 1);
  left: 0;
  top: 0px;
  width: 100%;
  height: 6%;
  z-index: 6969;
  @extend %noise;
    h1 {
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      position: relative;
      top: 0px;
    }
}

nav {
  width: 80%;
  margin: -34px auto;
  padding: 0;
  float: right;
  ul {
    list-style: none;
    text-align: right;
    li {
      display:inline-block;
      a {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: #fff;
        font-family: 'Open Sans';
        text-transform: uppercase;
        margin: 0 10px;
        }
      }
    }
}

nav ul li a {
  transition: all .5s;
  &:after, &:before {
    transition: all .5s;
  }
  &:hover {
    color: #555;
  }
}

/* SHIFT */
nav.shift ul li a {
  position:relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #fff;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #A380B3;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 80%;
}
