body {
  background: #FFF -webkit-linear-gradient(#ecf0f1, #9b59b6) no-repeat top right;
  background-attachment: fixed;
}

h1, p {
  text-align: center;
  margin: auto;
  width: 50%;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 90px;
  color: #8e44ad;
  padding: 70px 0px;
  text-shadow: -3px 3px 4px #000, -3px 3px 6px #FFF;
}

p {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #000;
}
