body {
  background-color: #FFF;
  background-image: -webkit-linear-gradient(#bdc3c7, #2c3e50);
}

h1, p {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: auto;
  width: 50%;
}

h1 {
  font-size: 60px;
  color: #9b59b6;
  padding: 70px 0px;
}

p {
  font-size: 24px;
  color: #bdc3c7;
}
